/* Local webfont: Filmcryptic (placed in MessApp/fonts/) */
@font-face {
  font-family: 'Filmcryptic';
  src: url('../fonts/Filmcryptic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filmcryptic';
  src: url('../fonts/Filmcrypob.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Filmcryptic', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #27c622;
  color: #333;
}

