/* Local webfont: Filmcryptic (placed in MessApp/fonts/) */
@font-face {
  font-family: 'Filmcryptic';
  src: url('../fonts/Filmcryptic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filmcryptic';
  src: url('../fonts/Filmcrypob.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Filmcryptic', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  /* Background: stretched image if present, fall back to color */
  background-color: #27c622;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* use 'cover' to fill while preserving aspect ratio; use '100% 100%' to force stretch */
  color: #333;
}

